<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <form action="/" method="get">
        <input type="Submit" value="Add More Dolls">
    </form>

    <h1>DOLLS!!!</h1>
    {{#dolls}}
    <div class="dolls">
        This doll once belonged to {{owner}}. She has {{hair.color}} {{hair.texture}} hair. She cost {{cost}} dollars.
        <form action="/delete/{{id}}" method="post">
            <input type="Submit" value="Delete Doll">
        </form>
        <form action="/redo/{{id}}" method="post">
            <input type="Submit" value="Update This Doll">
        </form>

    </div>

    {{/dolls}}
</body>

</html>