<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <form action="/doll" method="post">
        <label for="">What color is the doll's hair?</label>
        <input type="text" name="haircolor"><br>
        <label for="">Is your doll's hair curly or straight?</label>
        <input type="text" name="hairtexture"><br>
        <label for="">How much did this doll cost?</label>
        <input type="text" name="cost">Dollars<br>
        <label for="">Who owns this doll?</label>
        <input type="text" name="owner"><br>
        <input type="submit" value="Submit Doll">

    </form>
    <form action="/dolls" method="get">
        <input type="Submit" value="View All Dolls">
    </form>



</body>

</html>